div.container {
    width: 100%;
    border: none;
    p.double {border-style: double;}
}
header, footer {
    padding: lem;
    color: black;
    background-color: Ivory;
    clear: left;
    text-align: center;
    font-family: Verdana 
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: lem;
}
nav ul {
    list-style-type: none;
    padding: 1em;
}
nav ul a {
    text-decoration: none;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
body {
  background-color: Aliceblue;
}
